/* Don't display what SageMaker wants to display */
crowd-form {
    display: none;
}

/* Give the entire window to ULabel */
html, body, #ulabel-cont {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}