/* Loader */
@-webkit-keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0; 
    }
    5% {
        opacity: 1; 
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0; 
    }
}

@keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0; 
    }
    5% {
        opacity: 1; 
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0; 
    } 
}

.ball-scale-multiple {
position: relative;
-webkit-transform: translateY(-30px);
        transform: translateY(-30px); 
}
.ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; 
}
.ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; 
}
.ball-scale-multiple > div {
    background-color: rgb(64, 139, 57);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    left: -30px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
            animation: ball-scale-multiple 1s 0s linear infinite; 
}

/* Rest */
div#browse-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
div#browse-message-center {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    min-height: 24px;
}
p.message {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
p.message.lvl-info {
    color: gray;
}
p.message.lvl-warn {
    color: rgb(255, 94, 0);
}
p.message.lvl-error {
    color: rgb(173, 35, 16);
}


div#browse-table {
    display: block;
    width: 100%;
    padding-bottom: 30px;
}
div.bt-list {
    display: inline-block;
    width: calc(33% - 1px);
    vertical-align: top;
    border: 1px solid black;
    border-left: none;
    min-height: calc(100vh - 120px);
}
div#c1-list {
    border-left: 1px solid black;
    width: calc(34% - 2px);
}
div.header-cell {
    background-color: rgb(233, 233, 233);
    padding: 20px;
}
div.bt-list-content {
    width: 100%;
    height: 100%;
}
div.cell {
    border-bottom: 1px solid black;
}
div.bt-loader {
    position: relative;
    left: 50%;
    padding: 100px 0;
    width: 0;
    margin: 0;
}
div.bt-waiting {
    text-align: center;
    margin: 91px 0;
    font-size: 18px;
    color: gray;
}
a.bt-list-item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: calc(100% - 10px);
}
a.bt-list-item.lilhead span.item-attr {
    font-weight: bold;
}
a.bt-list-item.odd {
    background-color: rgb(240, 240, 240);
}
a.bt-list-item:hover {
    background-color: rgb(148, 199, 148);
}
a.bt-list-item span.item-attr {
    /* padding: 0 5px; */
}
a.bt-list-item span.id-attr {
    display: inline-block;
    width: 30px; 
}
a.bt-list-item span.name-attr {
    display: inline-block;
    width: 80px;
}
a.bt-list-item span.crop-attr {
    display: inline-block;
    width: calc(40% - 55px);
}
a.bt-list-item span.created-attr {
    display: inline-block;
    width: calc(60% - 55px);
}
